.wrapper {
    min-height: 100vh;
    /* padding: 0 16px 100px 16px; */
    overflow: hidden;
    background: #fff;
}

.wrapper-content {
    padding-top: 84px;
}

.wrapper-resume {
    margin: 0 auto;
    max-width: 1280px;
}
.wrapper-viewer-stats {
    margin: 0 auto;
    max-width: 814px;
}
.wrapper-home {
    margin: 0 auto;
    max-width: 640px;
}
