
.social_action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social_action-avatar {
    border-radius: 62px;
    background: none;

}
.social_info {
margin-top: 24px;
}

.social_info-name {
    font-weight: 900;
    font-size: 24px;
    color: #101840;
}
.social_info-bio {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #474D66;
    margin: 8px 0 24px 0
}

.social_tags {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

.social_action-contact {
    color: #FFFFFF;
}

.social_info-role {
    background: #FFFFFF;
    border: 1px solid rgba(216, 218, 229, 0.5);
    border-radius: 8px;
    margin-top: 24px;
    width: 290px;
    height: 66px;
    padding: 10px 12px
}
.social_info-role h5{
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #696F8C;
}

.social_info-role h6{
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

