body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html{
    font-size: 62.5%;
}

/* .container {
  margin: 0 auto;
  max-width: 640px;
} */


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.d-flex {
  display: flex
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center{
  align-items: center;
}

.flex {
  flex: 1
}
.gap-12 {
  gap: 12px
}

.gap-5 {
  gap: 5px
}

.mid-blue-bg {
  background-color: #1B7AB0;
}

.purple-bg {
  background-color: #7833EA;
}

.orange-bg {
  background-color: #DB6837;
}
.turtle-green-bg {
  background-color: #429777;
}
.deep-cove-bg {
  background-color: #101840;
}

select {
  border: none;
  background: transparent;
}
